body{
  background-color: #212121;
  color: white;
  font-size: 24px;
}
.first{
  border: 2px,solid,white;
  height: 350px;
  width: 400px;
  text-align:center ;

}
.para{
  color: yellow;
}

.new{
  background-color: darkblue;
}

.div{
  height: 200px;
  width: 200px;
  background-color: yellow;
  
}